<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microfrontends Homepage</title>
  </head>
  <body>
    <iframe frameBorder="0" width="100%" height="200" src="https://microfrontends-header.herokuapp.com/"></iframe>
    <iframe frameBorder="0" width="100%" height="200" src="https://microfrontends-products-list.herokuapp.com/"></iframe>
    <iframe frameBorder="0" width="100%" height="200" src="https://microfrontends-cart.herokuapp.com/"></iframe>
  </body>
</html>
