<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microfrontends Homepage</title>
    <link href="header" rel="import" />
    <link href="products-list" rel="import" />
    <link href="cart" rel="import" />
  </head>
  <body>
    <microfrontends-header></microfrontends-header>
    <microfrontends-products-list></microfrontends-products-list>
    <microfrontends-cart></microfrontends-cart>
  </body>
</html>
