<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microfrontends Homepage</title>
  </head>
  <body>
    <div class="load-app" data-url="header"></div>
    <div class="load-app" data-url="products-list"></div>
    <div class="load-app" data-url="cart"></div>
    <script>
      function loadPage (element) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            element.innerHTML = xmlHttp.responseText;
        };
        xmlHttp.open("GET", element.dataset.url, true);
        xmlHttp.send(null);
      }
      document.querySelectorAll('.load-app').forEach(loadPage);
    </script>
  </body>
</html>
